<a href="https://colab.research.google.com/github/mainek2004/sgu_25_data_analysis/blob/main/Ch03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Chapter3

##Data Structures and Sequences

###Tupple

In [ ]:
tup = (4, 5, 6)
tup

In [ ]:
tuple([4, 0, 2])
tup = tuple('string')
tup

In [ ]:
tup[0]

In [ ]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup
nested_tup[0]
nested_tup[1]

In [ ]:
tup = tuple(['foo', [1, 2], True])
tup[2] = False

In [ ]:
tup[1].append(3)
tup

In [ ]:
(4, None, 'foo') + (6, 0) + ('bar',)

In [ ]:
('foo', 'bar') * 4

In [ ]:
tup = (4, 5, 6)
a, b, c = tup
b

In [ ]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

In [ ]:
a, b = 1, 2
a
b
b, a = a, b
a
b

In [ ]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print(f'a={a}, b={b}, c={c}')

In [ ]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
a
b
rest

In [ ]:
a, b, *_ = values

###Tupple methods

In [ ]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

##List

In [ ]:
a_list = [2, 3, 7, None]

tup = ("foo", "bar", "baz")
b_list = list(tup)
b_list
b_list[1] = "peekaboo"
b_list

In [ ]:
gen = range(10)
gen
list(gen)

###Adding and removing elements

In [ ]:
b_list.append("dwarf")
b_list

In [ ]:
b_list.insert(1, "red")
b_list

In [ ]:
b_list.insert(1, "red")
b_list
b_list.pop(2)
b_list

In [ ]:
b_list.append("foo")
b_list
b_list.remove("foo")
b_list

In [ ]:
"dwarf" in b_list

In [ ]:
"dwarf" not in b_list

###Concatenating and combining lists

In [ ]:
[4, None, "foo"] + [7, 8, (2, 3)]

In [ ]:
x = [4, None, "foo"]
x.extend([7, 8, (2, 3)])
x

###Sorting

In [ ]:
a = [7, 2, 5, 1, 3]
a.sort()
a

In [ ]:
b = ["saw", "small", "He", "foxes", "six"]
b.sort(key=len)
b

In [ ]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

In [ ]:
seq[3:5] = [6, 3]
seq

In [ ]:
seq[:5]
seq[3:]

In [ ]:
seq[-4:]
seq[-6:-2]

In [ ]:
seq[::2]

In [ ]:
seq[::-1]

###Dictionary

In [ ]:
empty_dict = {}
d1 = {"a": "some value", "b": [1, 2, 3, 4]}
d1

In [ ]:
d1[7] = "an integer"
d1
d1["b"]

In [ ]:
"b" in d1

In [ ]:
d1[5] = "some value"
d1
d1["dummy"] = "another value"
d1
del d1[5]
d1
ret = d1.pop("dummy")
ret
d1

In [ ]:
list(d1.keys())
list(d1.values())

In [ ]:
list(d1.items())

In [ ]:
d1.update({"b": "foo", "c": 12})
d1

###Creating dictionaries from sequences

In [ ]:
tuples = zip(range(5), reversed(range(5)))
tuples
mapping = dict(tuples)
mapping

###Default values

In [ ]:
words = ["apple", "bat", "bar", "atom", "book"]
by_letter = {}

for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

by_letter

In [ ]:
by_letter = {}
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
by_letter

In [ ]:
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

###Valid dictionary key types

In [ ]:
hash("string")
hash((1, 2, (2, 3)))
hash((1, 2, [2, 3])) # fails because lists are mutable

In [ ]:
d = {}
d[tuple([1, 2, 3])] = 5
d

###Set

In [ ]:
set([2, 2, 2, 1, 3, 3])
{2, 2, 2, 1, 3, 3}

In [ ]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [ ]:
a.union(b)
a | b

In [ ]:
a.intersection(b)
a & b

In [ ]:
c = a.copy()
c |= b
c
d = a.copy()
d &= b
d

In [ ]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

In [ ]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)
a_set.issuperset({1, 2, 3})

In [100]:
{1, 2, 3} == {3, 2, 1}

True

##Built-In Sequence Functions

###Sorted

In [102]:
sorted([7, 1, 2, 6, 0, 3, 2])
sorted("horse race")

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

###Zip

In [103]:
seq1 = ["foo", "bar", "baz"]
seq2 = ["one", "two", "three"]
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [104]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [105]:
for index, (a, b) in enumerate(zip(seq1, seq2)):
    print(f"{index}: {a}, {b}")

0: foo, one
1: bar, two
2: baz, three

###Reversed

In [106]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

##List, Set, and Dictionary Comprehensions

In [107]:
strings = ["a", "as", "bat", "car", "dove", "python"]
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [108]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [109]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [110]:
loc_mapping = {value: index for index, value in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

###Nested list comprehensions

In [111]:
all_data = [["John", "Emily", "Michael", "Mary", "Steven"],
            ["Maria", "Juan", "Javier", "Natalia", "Pilar"]]

In [112]:
names_of_interest = []
for names in all_data:
    enough_as = [name for name in names if name.count("a") >= 2]
    names_of_interest.extend(enough_as)
names_of_interest

['Maria', 'Natalia']

In [113]:
result = [name for names in all_data for name in names
          if name.count("a") >= 2]
result

['Maria', 'Natalia']

In [114]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [115]:
flattened = []

for tup in some_tuples:
    for x in tup:
        flattened.append(x)

In [116]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

##Functions

In [117]:
def my_function(x, y):
    return x + y

In [118]:
my_function(1, 2)
result = my_function(1, 2)
result

3

In [119]:
def function_without_return(x):
    print(x)

result = function_without_return("hello!")
print(result)

hello!
None

In [120]:
def my_function2(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [121]:
my_function2(5, 6, z=0.7)
my_function2(3.14, 7, 3.5)
my_function2(10, 20)

45.0

###Namespaces, Scope, and Local Functions

In [123]:
a = []
def func():
    for i in range(5):
        a.append(i)

In [124]:
func()
a
func()
a

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [125]:
a = None
def bind_a_variable():
    global a
    a = []
bind_a_variable()
print(a)

[]

###Functions Are Objects

In [126]:
states = ["   Alabama ", "Georgia!", "Georgia", "georgia", "FlOrIda",
          "south   carolina##", "West virginia?"]

In [127]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub("[!#?]", "", value)
        value = value.title()
        result.append(value)
    return result

In [128]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [129]:
def remove_punctuation(value):
    return re.sub("[!#?]", "", value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for func in ops:
            value = func(value)
        result.append(value)
    return result

In [130]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [131]:
for x in map(remove_punctuation, states):
    print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia

###Anonymous (Lambda) Functions

In [132]:
def short_function(x):
    return x * 2

equiv_anon = lambda x: x * 2

In [133]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [134]:
strings = ["foo", "card", "bar", "aaaa", "abab"]

In [135]:
strings.sort(key=lambda x: len(set(x)))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

###Generators

In [136]:
some_dict = {"a": 1, "b": 2, "c": 3}
for key in some_dict:
    print(key)

a
b
c

In [137]:
dict_iterator = iter(some_dict)
dict_iterator

In [138]:
list(dict_iterator)

['a', 'b', 'c']

In [139]:
def squares(n=10):
    print(f"Generating squares from 1 to {n ** 2}")
    for i in range(1, n + 1):
        yield i ** 2

In [140]:
gen = squares()
gen

In [141]:
for x in gen:
    print(x, end=" ")

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

#####Generator expressions

In [142]:

gen = (x ** 2 for x in range(100))
gen

In [143]:
sum(x ** 2 for x in range(100))
dict((i, i ** 2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

####itertools module

In [144]:
import itertools
def first_letter(x):
    return x[0]

names = ["Alan", "Adam", "Wes", "Will", "Albert", "Steven"]

for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

###Errors and Exception Handling

In [145]:
float("1.2345")
float("something")

ValueError: could not convert string to float: 'something'

In [146]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [147]:
attempt_float("1.2345")
attempt_float("something")

'something'

In [148]:
float((1, 2))

TypeError: float() argument must be a string or a real number, not 'tuple'

In [149]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [150]:
attempt_float((1, 2))

TypeError: float() argument must be a string or a real number, not 'tuple'

In [151]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

##Files and the Operating System

In [ ]:
path = "examples/segismundo.txt"
f = open(path, encoding="utf-8")

In [ ]:
lines = [x.rstrip() for x in open(path, encoding="utf-8")]
lines

In [ ]:
f.close()

In [ ]:
with open(path, encoding="utf-8") as f:
    lines = [x.rstrip() for x in f]

In [ ]:
f1 = open(path)
f1.read(10)
f2 = open(path, mode="rb")  # Binary mode
f2.read(10)

In [ ]:
f1.tell()
f2.tell()

In [ ]:
import sys
sys.getdefaultencoding()

In [ ]:
f1.seek(3)
f1.read(1)
f1.tell()

In [ ]:
f1.close()
f2.close()

In [ ]:
path

with open("tmp.txt", mode="w") as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)

with open("tmp.txt") as f:
    lines = f.readlines()

lines

In [ ]:
import os
os.remove("tmp.txt")

###Bytes and Unicode with Files

In [152]:
with open(path) as f:
    chars = f.read(10)

chars
len(chars)

NameError: name 'path' is not defined

In [ ]:
with open(path, mode="rb") as f:
    data = f.read(10)

data

In [153]:
data.decode("utf-8")
data[:4].decode("utf-8")

NameError: name 'data' is not defined

In [ ]:
sink_path = "sink.txt"
with open(path) as source:
    with open(sink_path, "x", encoding="iso-8859-1") as sink:
        sink.write(source.read())

with open(sink_path, encoding="iso-8859-1") as f:
    print(f.read(10))

In [ ]:
os.remove(sink_path)

In [ ]:
f = open(path, encoding='utf-8')
f.read(5)
f.seek(4)
f.read(1)
f.close()